{% extends 'base_centered.html' %}


{% block content %}

<body>
    <h1>ログイン</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='' %}
        <button type="submit">ログイン</button>
    </form>
</body>
<p>aaaa





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>















</p>

{% endblock %}