{% extends 'base_dashboard.html' %}

{% load bootstrap4 %}
{% load static %}

{% block dashboard %}
<div class="content">
    <!-- ここからuser -->
    <div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="image">
              <img src="{% static 'dashboard/assets/img/damir-bosnjak.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <a href="#">
                  <img class="avatar border-gray" src="{% static 'dashboard/assets/img/bodybuilder.png' %}" alt="...">
                  <h5 class="title">{{ user.username }}</h5>
                </a>
                <p class="description">
                  @chetfaker
                </p>
              </div>
              <p class="description text-center">testestest</p>
            </div>
            <div class="card-footer">
              <hr>
              <div class="button-container">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-6 ml-auto">
                    <h5>{{ likes_count }}<br><small> likes</small></h5>
                  </div>
                  <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                    <h5>{{user.aa}}<br><small>favorites</small></h5>
                  </div>
                  <div class="col-lg-3 mr-auto">
                    <h5>24,6$<br><small>Spent</small></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Team Members</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled team-members">
                <li>
                  <div class="row">
                    <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-md-7 col-7">
                      DJ Khaled
                      <br />
                      <span class="text-muted"><small>Offline</small></span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-md-7 col-7">
                      Creative Tim
                      <br />
                      <span class="text-success"><small>Available</small></span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-ms-7 col-7">
                      Flume
                      <br />
                      <span class="text-danger"><small>Busy</small></span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 右半分、最新記事部 -->
        <div class="col-md-4">
        <h2>最新記事一覧</h2>
        {% for article in articles%}
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">{{ article.title }}</h5>
            </div>
            <div class="card-body">
              {{ article.detail }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    {{username}}
    
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bells:article_create' user %}">記事作成へ</a>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bells:articles' user %}">記事一覧へ</a>
</div>


{% endblock %}