{% extends 'base_dashboard.html' %}

{% load bootstrap4 %}
{% load static %}
{% load markdown_extras %}
{% block dashboard %}
<div class="content">
    <!-- ここからuser -->
    <div class="row">
        <!-- 左半分、最新記事部 -->
        <div class="col-md-6">
        <h2>最新記事一覧</h2>
        {% for article in articles %}
          <div class="card card-user balance">
            <div class="card-header">
              <h5 class="card-title">{{ article.title }}</h5>
            </div>
            <div class="card-body">
              {{ article.detail|markdown|safe }}
              {{article.user_likes.count}}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- 右半分今週のピックアップ -->
        <div class="col-md-6">
            <h2>今週のピックアップ</h2>
            {%  for pickup in pickups %}
                <div class="card card-user balance">
                    <div class="card-header">
                      <h5 class="card-title">{{ pickup.title }}</h5>
                    </div>
                    <div class="card-body">
                    {{ pickup.detail|markdown|safe }}
                    <p>イイネ数:{{pickup.user_likes.count}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
      </div>

    {{username}}
    
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bells:article_create' user %}">記事作成へ</a>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bells:articles' user %}">記事一覧へ</a>
</div>


{% endblock %}